body {
  background-image: url('../images/oldnewyork.png');
  background-size: cover;
}

ol{
  list-style: none;
}

.header-row{
  text-align:center;
  margin:auto;
}

.footer-row{
  text-align:center;
  margin: 0px;
  background-color:black;
  color: white;
}

#content-container{
  margin-top: 1em;
  border:10px double black;
  padding-bottom: 0.5em;
  background-color: white;
}

#header-image{
  float:left;
}

#wrapper{
  margin-top: 1em;
  margin-bottom: 1em;
  margin: auto;
}