ol{
  list-style: none;
}

.container{
  border:5px double black;
  padding-bottom: 0.5em;
  margin-top: 1em;
}

.header-row{
  text-align:center;
  margin:auto;
}

.footer-row{
  text-align:center;
  margin: 0px;
}

.header-col::after{
  content: "";
  clear: both;
  display: table;
}

#header-image{
  float:left;
}

#wrapper{
  margin-top: 1em;
  margin-bottom: 1em;
  margin: auto;
}